<ion-view title="التسجيل">
    <ion-content padding="'true'" scroll="false" class="has-header">
        <form class="list" dir="rtl">
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">الاسم</span>
                    <input type="text" placeholder="" ng-model="data.name">
                </label>
                <label class="item item-input">
                    <span class="input-label">الرقم الوطني </span>
                    <input type="number" placeholder="" ng-model="data.username">
                </label>
                <label class="item item-input">
                    <span class="input-label">الهاتف</span>
                    <input type="number" placeholder="" ng-model="data.password">
                </label>
                <label class="item item-input">
                    <span class="input-label">رقم السيارة</span>
                    <input type="number" placeholder="" ng-model="data.phone">
                </label>
            </ion-list>
            
            <button ng-click="signup(data)" class="button button-assertive button-block ">تقديم الطلب</button>
        </form>
    </ion-content>
</ion-view>